#App-Header{
  width: 100%;
  height: 10%;

  position: relative;

  color: cyan;

  background-color: black;
}

#Header-Title{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  font-size: 40px;
  letter-spacing: 10px;
  font-family: Headache;


  text-align: center;

  color: cyan;
}

#Header-Pathing{
  width: 20%;
  height: 100%;

  font-family: Abyssopelagic;

  text-align: center;

  color: rgb(255, 255, 255);

  font-size: 40px;
  letter-spacing: 20px;

}

#Pathing-Title{
  width: 50%;
  height: 50%;

}

#Pathing-Content{
  width: 100%;
  height: 0;

  display: flex;

  background: rgba(1, 1, 1, 0.8);

  transition: height 0.5s;
}

.Pages{
  width: 25%;
  height: 100%;

  margin-top: -100px;

  background-color: rgba(0, 0, 0, 0.8);

  color: cyan;

  text-align: center;

  visibility: hidden;

  transition: visibility 0s linear 0s, opacity 300ms;

  font-family: Abyssopelagic;
  font-size: 30px;

  letter-spacing: 10px;

  font-weight: 300;
}

.Pages:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.Pages p{
  transition: visibility 0s linear 0s, opacity 300ms;
  padding-top: 1%;
  height: 5%;
}


/**
* BODY
**/
#App-Body{
  width: 100%;
  height: 100%;

  background-color: grey;

  overflow: hidden;
}

#Body-Links{
  display: flex;
  flex-wrap: wrap;

  width: 90%;
  height: 95%;

  padding-top: 2.5%;
  padding-left: 7.5%;
}


/**
* MISC
**/

body{
  margin: 0;
  user-select: none;
}

@font-face {
  font-family: Headache;
  src: url("Resources/Headache.otf");
}

@font-face {
  font-family: Abyssopelagic;
  src: url("Resources/Abyssopelagic.otf");
}
